.dashboard-btn {
  display: inline-block;
  padding: 6px 10px 6px 0;
  cursor: pointer;
}

.dashboard-btn:hover {
  color: #79b473;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}
