.btn {
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.btn-primary {
  background-color: #79b473 !important;
  border: none !important;
}

.btn-outline-primary {
  color: #79b473 !important;
  border-color: #79b473 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #79b473 !important;
}
