.dashboardBtn {
  display: inline-block;
  cursor: pointer;
}

.dashboardBtn:hover {
  color: #79b473;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.editBtn {
  width: 100%;
}

.editBtn:hover {
  color: #79b473;
  background-color: white !important;
  border: 1px solid #79b473 !important;
}

.btnDanger {
  width: 100%;
}

.btnDanger:hover {
  background-color: white;
  color: #dc3545;
  border: 1px solid #dc3545;
}
