$primary: #79b473;

.dashboard-btn {
    display: inline-block;
    cursor: pointer;
}

.dashboard-btn:hover {
    color: $primary;

    transform: translateX(10%);
    transition: all 450ms ease-in-out;
}

.edit-btn {
    &:hover {
        color: $primary;
        background-color: white !important;
        border: 1px solid $primary !important;
    }
}

.btn-danger {
    &:hover {
        background-color: white;
        color: #dc3545;
        border: 1px solid #dc3545;
    }
}
