$primary: #79b473;

.dashboardBtn {
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: $primary;
        transform: translateX(10%);
        transition: all 450ms ease-in-out;
    }
}

.editBtn {
    width: 100%;
    &:hover {
        color: $primary;
        background-color: white !important;
        border: 1px solid $primary !important;
    }
}

.btnDanger {
    width: 100%;
    &:hover {
        background-color: white;
        color: #dc3545;
        border: 1px solid #dc3545;
    }
}
