.dashboard-btn {
  display: inline-block;
  cursor: pointer;
}

.dashboard-btn:hover {
  color: #79b473;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.edit-btn:hover {
  color: #79b473;
  background-color: white !important;
  border: 1px solid #79b473 !important;
}

.btn-danger:hover {
  background-color: white;
  color: #dc3545;
  border: 1px solid #dc3545;
}
