$primary: #79b473;

.dashboard-btn {
    display: inline-block;

    cursor: pointer;
}

.dashboard-btn:hover {
    color: $primary;
    transform: translateX(10%);
    transition: all 450ms ease-in-out;
}
