$primary: #79b473;

nav {
    border-bottom: 5px solid $primary;
    .navbar-brand {
        img {
            width: 150px;
        }
    }
    #dashboard-nav-dropdown {
        img {
            width: 40px;
        }
    }
}
