$primary: #79b473;

html {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Noto Sans", sans-serif;
}

.dashboard-btn {
    display: inline-block;
    padding: 6px 10px 6px 0;
    cursor: pointer;
}

.dashboard-btn:hover {
    color: $primary;
    transform: translateX(10%);
    transition: all 450ms ease-in-out;
}
